.model{
    box-sizing: content-box;
    margin: 50px;
}
.rectangle{
    width: 100px;
    height: 50px;
    border-radius: 16px;
    background-color: forestgreen;
}
.oval{
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: darkmagenta;
}
.sircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: aquamarine;
}
.triangle{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 50px solid white;
    border-top-color: brown;
}
